/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4 {
    margin: 0 0 10px;
    padding: 0;
}

p {
    margin: 0 0 10px;
}


/* User Section */
.user {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.user img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.user h1 {
    font-size: 2em;
}

.user h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.user p {
    font-size: 1em;
    font-style: italic;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Contact Section */
.contact, .skills, .experience, .education, .projects {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.socials {
    text-align: center;
    margin: 5px 0;
    padding: 5px;
}

.contact h3, .skills h3, .experience h3, .education h3, .projects h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.contact p, .skills ul, .experience p, .education p, .projects p {
    font-size: 0.9em;
}

.contact img {
    vertical-align: middle;
    margin-right: 10px;
}

.socials img {
    width: 30px;
    margin: 5px;
}

.projects img {
    width: 30px;
    margin: 5px;
}

.skills li, .experience li {
    font-size: smaller;
}

.icon img {
    width: 30px;
    margin: 5px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.education-item, .project-item {
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .user img {
        width: 200px;
        height: 200px;
    }

    .user h1 {
        font-size: 1.5em;
    }

    .user h2 {
        font-size: 1em;
    }

    .user p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .user img {
        width: 170px;
        height: 170px;
    }

    .user h1 {
        font-size: 1.2em;
    }

    .user h2 {
        font-size: 0.9em;
    }

    .user p {
        font-size: 0.8em;
    }
}

@media (min-width: 1200px){
    .education-item li{
        flex: 1;
    }

    .project-item li {
        flex: 1;
    }
}

@media (min-width: 768px){
    .user {
        text-align: center;
        background: #333;
        color: #fff;
        display: flex;
        padding: 20px 0;
        justify-content: space-evenly;
        align-items: center;
    }
}

